<!-- {% extends "bootstrap/base.html" %}{% block content %}-->
<!DOCTYPE html>

<html>
<head>
  <title>Meteo Velib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  
  <!--<script type="module" src="./js/map_clic.js"></script> -->
  

  
</head>
<body>
		
<div class="container" name="title">
  <div class="jumbotron" style="background-color:#1daeff !important;">
    <h2 style="color:#fff;">Meteo velib</h2>      
  </div>
</div>


<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Disponibilité actuelle des stations</div>
	  <!-- <img src="C:/Users/Olivier/greta/data/projet/app/templates/realoccupation_2023_03_21.gif" height="200px" -->
	  <img src="./realoccupation_2023_03_21.gif" height="292px" width="520px" ></img>   
	</div>
</div>



<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Choisissez un temps de départ</div>
      <div class="panel-body">
      
<!-- Main Input For Receiving Query to our ML -->	
      	<form action="{{ url_for('predict')}}" method="POST">
			<input type="datetime-local" name="timequery"> <!--value="2023-03-23T12:00"-->
			<input type="text" name="stationquery">
			<button type="submit" class="btn btn-primary">Go</button>
			</form>
			
      </div>
      

      	<form action="{{ url_for('predict')}}" method="GET">
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>

            
    </div>
</div>


<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Choisissez une station de départ</div>
      <div class="panel-body">
          <button type="submit" class="btn btn-primary">Près de moi</button> <li> Prends une position aléatoire pour le moment
<!--           
          <form action="{{ url_for('predict')}}" method="POST">
              <input type="text" name="stationquery">
          </form>
 -->         
          <p> exemples de stations (copier-coller dans le champ) : 1062223873, 85008390, 653197324, 216039437,653123610 </p>
          
          <br>
          	
		
             
			

		  
    </div>
</div>
    

</body>

<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
<!-- {% endblock %} -->


