<!-- {% extends "bootstrap/base.html" %}{% block content %}-->
<!DOCTYPE html>

<html>
<head>
  <title>Meteo Velib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  
  <!--<script type="module" src="./js/map_clic.js"></script> -->
  

  
</head>
<body>
		
<div class="container" name="title">
  <div class="jumbotron" style="background-color:#1daeff !important;">
    <h2 style="color:#fff;">Meteo velib</h2>      
  </div>
</div>

<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Choisissez un temps de départ</div>
      <div class="panel-body">
      
<!-- Main Input For Receiving Query to our ML -->	
      	<form action="{{ url_for('predict')}}" method="POST">
			<input type="datetime-local" name="namequery"> <!--value="2023-03-23T12:00"-->
			<button type="submit" class="btn btn-primary">Go</button>
			</form>
			
      </div>
      
<!-- 
      	<form action="{{ url_for('predict')}}" method="GET">
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
-->
            
    </div>
</div>


<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Choisissez une station de départ</div>
            <div class="panel-body">
<!--          <input type="text" id="lat"> <input type="text" id="long">  -->    
          <button onclick=random_lat_lon() class="btn btn-primary">Près de moi</button>
<!--
          <script>
            function random_lat_lon(){
                document.getElementById("lat").innerHTML = 48.8+Math.random()/10;
                document.getElementById("lon").innerHTML = 2.3+Math.random()/10;
            }
        </script>  
  -->        
          <br>
          	
		
           <iframe id="map" height="400px" width="600px" {{ iframe|safe }} ></iframe>     
			

		  
    </div>
</div>
    

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:#1563ff ">Stations de départ suggérées:</div>
        <div class="panel-body">
	
	


            <table style="width:100%">
                <tr>
                    <th>Nom de la station</th>
                    <th>Identifiant </th>
                    <th>Distance</th>
                    <th>Disponibilité à {{hour1}}</th>
                    <th>Capacité</th>
                </tr>  
                 {% for item in my_list %}
                  <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                  </tr>
                  {% endfor %}
              
            </table>

        </div>
    </div>
</div>

</body>

<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
<!-- {% endblock %} -->


