<!-- {% extends "bootstrap/base.html" %}{% block content %}-->
<!DOCTYPE html>

<html>
<head>
  <title>Meteo Velib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  
  <!--<script type="module" src="./js/map_clic.js"></script> -->
  

  
</head>
<body>
		
<div class="container" name="title">
  <div class="jumbotron" style="background-color:#1daeff !important;">
    <h2 style="color:#fff;">Meteo velib</h2>      
  </div>
</div>

<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Veuillez choisir un temps de départ</div>
      <div class="panel-body">
      
<!-- Main Input For Receiving Query to our ML -->	
      	<form action="{{ url_for('predict')}}" method="POST">
			<input type="datetime-local" name="namequery"> <!--value="2023-03-23T12:00"-->
			<input type="text" name="stationquery">
			<button type="submit" class="btn btn-primary">Go</button>
			</form>
			
      </div>
      

      	<form action="{{ url_for('predict')}}" method="GET">
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>

            
    </div>
</div>


<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Veuillez choisir une station de départ</div>
      <div class="panel-body">
          <button type="submit" class="btn btn-primary">Près de moi</button>
<!--           
          <form action="{{ url_for('predict')}}" method="POST">
              <input type="text" name="stationquery">
          </form>
 -->         
          <p> exemples de stations (copier-coller dans le champ) : 1062223873, 85008390, 653197324, 216039437,653123610 </p>
          
          <br>
          	
		
           <iframe id="map" {{ iframe|safe }} ></iframe>     
			
			<p id="display_field">text </p>
			

	  <script>
    
    
    function onIframeClick() {
		console.log("iframe clicked");
		iframe.innerHTML = `clic`
    }
	
    var iframe = document.getElementById("title");
    iframe.addEventListener("click", onIframeClick);

    window.addEventListener('load', function() {
    	console.log('starting the window listening') ;
        var iframe = document.getElementById("map");
        iframe.addEventListener("click", onIframeClick);
    })
  </script>

              <button id='button'>test listener</button>
        
            <script>
                <!-- const button = document.querySelector('button'); -->
				const button = document.getElementById('button');
                button.addEventListener('click', event => {
					console.log("button clicked");
					button.innerHTML = `Nombre de clics : ${event.detail}`;
				});

            </script>
  
		   <script>
			 const button = document.getElementById('button');
             button.addEventListener('click', event => {
			 var display_field = document.getElementById('display_field');
			  display_field.innerHTML = `blabla`;
			 }
			  </script>
		  
    </div>
</div>
    

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:#1563ff ">Stations de départ suggérées:</div>
        <div class="panel-body">
	
	


            <table style="width:100%">
                <tr>
                    <th>Nom de station</th>
                    <th>Identifiant </th>
                    <th>Distance</th>
                    <th>Disponibilité à {{hour1}}</th>
                    <th>State at time 2</th>
                    <th>State at time 3</th>
                </tr>  
                 {% for item in my_list %}
                  <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                  </tr>
                  {% endfor %}
              
            </table>

        </div>
    </div>
</div>

</body>

<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
<!-- {% endblock %} -->


